.fab {
    top: auto !important;
    right: 30px !important;
    bottom: 30px !important;
    left: auto !important;
    position: fixed !important;
  }

mat-card {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}



